<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <link href="/templates/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom styles for this template -->
        <link href="/templates/css/dashboard.css?4" rel="stylesheet">
        <link rel="canonical" href="https://1sport.cf/">
        <title>Смотреть онлайн трансляцию {{event.getName}} — 1sport.cf</title>
  
    </head>
    <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">1Sport</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Поиск" aria-label="Поиск"> -->
     <!--    <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul> -->
    </nav>

<!-- <main role="main"> -->
    <!-- <div class="container-fluid"> -->
      
           {{iframe|raw}}
      
    <!-- </div> -->
<!-- </main>
 -->
  </body>
</html>